<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ingreso de nuevo alumno</title>
</head>

<body>
<h1>Ingreso de nuevo alumno</h1>

<p>Ingresa los datos del alumno:</p><br/>
<form method="POST" th:action="@{/ingreso}">
	<label for="nombres">Nombres</label><input id="nombres" type="text" placeholder="Ingresa los nombres" style="width: 400px" name="nombres" />
	<label for="apellidos">Apellidos</label><input id="apellidos" type="text" placeholder="Ingresa los apellidos" style="width: 400px" name="apellidos" />
	<label for="fN">Fecha de nacimiento</label><input id="fN" type="date" placeholder="Ingresa la fecha de nacimiento" style="width: 400px" name="fN" required/> 	            		
	<label for="lN">Lugar de nacimiento</label><input id="lN" type="text" placeholder="Ingresa el lugar de nacimiento" style="width: 400px" name="lN" />
	<label for="coleProc">Instituto o colegio de procedencia</label><input id="coleProc" type="text" placeholder="Ingresa el colegio de procedencia" style="width: 400px" name="colecProc" />
	<label for="tF">Telefono fijo</label><input id="tF" type="text" placeholder="Ingresa el telefono fijo" style="width: 400px" name="tF" />
	<label for="tM">Telefono movil</label><input id="tM" type="text" placeholder="Ingresa el telegono movil" style="width: 400px" name="tM" />
   	<input type="submit" value="Guardar Alumno">
</form>
</body>

</html>